<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestSuite" verbose="1">
    <test name="ChromeTest">
        <parameter name="browser" value="Chrome">
            <classes>
                <class name="test.main.phonestvandelectronic.mobile.PhonesPageTest"/>
            </classes>
        </parameter>
    </test>

<!--   <test name="IETest">
        <parameter name="browser" value="IE">
            <classes>
                <class name="test.main.phonestvandelectronic.mobile.PhonesPageTest">
            </classes>
        </parameter>
    </test>-->
</suite>
